{% extends "base.html.twig" %}

{% block content %}
	<section class="most-popular-section">
		<h2 class="most-popular-section-title">Les films les plus populaires du moment</h2>
		<div class="results-container">
			{% for film in films %}
				<a href="http://localhost:8000?action=details&id={{film.id}}">
					<div class="card-container">
						<img class="card-poster" src="https://image.tmdb.org/t/p/w200{{ film.poster_path }}" alt="affiche de {{ film.title }}">
						<div class="card-details">
							<h3 class="card-film-title">{{ film.title }}</h3>
							<div class="vote-average-container">
								<span class="vote_average">{{ film.vote_average }}</span>
							</div>
							{# <i class="fa-solid fa-magnifying-glass"></i> #}
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>
{% endblock %}
